input {
  width: 300px;
  height: 35px;
  color: #eee;
  outline: none;
  font-size: 17px;
  padding: 0px 10px;
  border-radius: 5px;
  font-family: "Domine", serif;
  background-color: transparent;
  border: 1px solid rgba(127, 121, 121, 0.5);
}
